:root {
    --main-color: #384A7B;
}


body {
    margin: 0;
}


.container {
    background: linear-gradient(to bottom, #FEFCF4 0%, #FEFCF4 40%, #c1d1fd 80%, #384A7B 100%);
    height: 100%;
    margin: 0;
}

.first-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.second-page {
    position: relative;
    height: 100%;
}

.third-page {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 20vh;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.p-relative {
    position: relative;
}

.forth_page {
    height: 100%;
    padding: 18vh 10% 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    > div {
        width: 50%;
    }
}

/*FIRST PAGE*/


.text_img {
    width: 41vw;
}

.first-page_img-wrap {
    display: flex;
}

.main_img {
    width: 44vw;
    max-width: 630px;
    clip-path: inset(0 0 63px 0);
    position: absolute;
    bottom: -63px;
    right: 7vw;
    min-width: 300px;
    animation: wave 1s ease-in-out 2;
}

.glasses {
    width: 220px;
    position: absolute;
    top: 62vh;
}

.first-page_text {
    position: absolute;
    top: 9vh;
    left: 16vw;
    color: var(--main-color);
}

.invitation-text {
    font-family: 'EB Garamond', serif;
    font-size: 2rem;
    text-align: center;
    line-height: 2.4rem;
    width: 39vw;
    max-width: 570px;
    margin: 2rem auto 0;
    letter-spacing: 3px;
}

.rings_img {
    width: 43px;
    margin: 0 24px;
}

.first-page_divider {
    height: 1px;
    width: 10vw;
    background: var(--main-color);
}

.start_img {
    width: 65px;
    position: absolute;
    top: 10vh;
    right: min(130px, 17vw);
}

.cake_img {
    width: 13vw;
    position: absolute;
    right: -4vw;
    top: 56vh;
}

@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
}


/*SECOND PAGE*/

.page_divider {
    width: 25px;
    position: absolute;
    left: calc(50vw - 10px);
    top: -25px;
    transform: rotate(180deg);
    animation: jump 1s ease-in-out 3;
    animation-delay: 4s;
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0) rotate(180deg);
    }
    50% {
        transform: translateY(-60px) rotate(180deg); /* Moves down */
    }
}

.doodles_wrap {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    padding-top: 26vh;
}

.candle_img {
    position: absolute;
    left: 9vw;
    width: 4.5vw;
    top: max(23vw, 300px);
}

.disco_img {
    position: absolute;
    left: 17vw;
    width: 10vw;
    top: -1vw;
    transform: rotate(7deg);
}

.sparkle_img {
    position: absolute;
    left: 16vw;
    width: 6vw;
    top: 11vh;
    transform: rotate(3deg);
}

.map_img {
    position: absolute;
    bottom: -18vw;
    left: 26vw;
    width: 5.5vw;
}

.wedding_cake_img {
    position: absolute;
    left: calc(50% - 7vw);
    width: 16vw;
    max-width: 290px;
    top: 27vh;
}

.lemon_img {
    position: absolute;
    width: 3.5vw;
    left: 58%;
    bottom: -22vw;
}

.car_img {
    position: absolute;
    left: 50vw;
    width: 11vw;
    top: 32vh;
}

.champanie_img {
    position: absolute;
    width: 2.3vw;
    right: 13vw;
    top: 7vh;
    transform: rotate(-4deg);
}

.hearts_img {
    position: absolute;
    right: 8.5vw;
    width: 7vw;
    top: 11vh;
}

.date_text {
    margin-top: 48vh;
    font-size: 2.5rem;
    font-family: 'EB Garamond', cursive;
    text-align: center;
    color: var(--main-color);
}

.place_text {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    color: var(--main-color);
    margin-top: 24px;
    letter-spacing: 1px;
}

.cocktail_wrap {
    margin-top: 16px;
}

.cocktail_divider_img {
    width: 11vw;
}

.cocktail_img {
    width: 8vw;
    margin: 0 1vw;
}

.drive_text {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 19vh;
    font-family: 'Amatic SC', cursive;
}

/*THIRD PAGE*/

.brides_wrap, .dress-code_wrap {
    width: 50vw;
}

.dress-code_wrap {
    padding: 0 10vw;
    font-family: 'EB Garamond', serif;
    color: var(--main-color);
}

.brides_img {
    width: 25vw;
    left: 19vw;
    top: 0;
    position: relative;
}

.candles_img {
    position: absolute;
    width: 13vw;
    left: 9vw;
    top: 23vw;
    z-index: 2;
}

.dress-code-text {
    text-align: left;
    font-size: clamp(22px, 1.5vw, 4vw);
    font-family: 'EB Garamond', serif;
    /*font-family: 'Caveat', serif;*/
    color: var(--main-color);

}

.dress-code {
    letter-spacing: 1px;
    font-size: clamp(24px, 1.6vw, 4.2vw);
    margin-top: 1vh;
    display: inline-block;
}

.dress-code-text_and {
    font-size: clamp(22px, 1.5vw, 4vw);
    font-family: 'Caveat', serif;
    margin-top: 3vh;
}

.hills_img {
    width: 3vw;
    margin-right: 1vw;
    color: #e5b6bb
}

.sunglasses_img {
    width: 3vw;
    margin-right: 1vw;
}

.color_text {
    font-size: 1.8vw;
    font-family: 'EB Garamond', serif;
    color: var(--main-color);
    font-weight: normal;
}

.color_img {
    width: 5vw;
    margin-right: 2vw;
}

.color_img:last-of-type {
    margin-right: 0;
}

.colors_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    gap: 3vh;
}

.dynamic-circle-svg {
    width: 20vw;
}

.text_circle {
    background: url("assets/circle.svg") no-repeat top left;
    background-size: 5vw;
    width: 20vw;
    color: red;
}


/*FORTH PAGE*/

.photo_wrap {
    display: flex;
    position: relative;
}

.volodia_img {
    height: 45vw;
}

.kate_img {
    height: 39vw;
    position: absolute;
    top: 7vw;
    right: 0;
}

.emoji_img {
    width: 1vw;
}

.waiting_text {
    font-family: 'EB Garamond', serif;
    font-size: clamp(24px, 2vw, 5vw);
    text-align: center;
    color: var(--main-color);
    font-weight: normal;
}

.waiting_text_emoji {
    font-size: clamp(22px, 1.8vw, 5vw);
    line-height: 1.5rem;
    display: inline-block;
    margin-top: 4px;
    margin-left: 6px;
}

.candelabrum_img {
    width: 15vw;
    position: absolute;
    top: 16vh;
    left: 44vw;
}

.ps_text {
    margin-top: 2vw;
    text-align: center;
    font-family: 'Caveat', serif;
    font-size: clamp(22px, 1.8vw, 5vw);
    color: var(--main-color);
}


.slider {
    display: flex;
    margin-top: 3vh;
    mask-image: linear-gradient(90deg, #0000, #000 10% 90%, #0000),
    linear-gradient(0deg, transparent, black 2%, black 98%, transparent);
    mask-mode: alpha;
    mask-composite: intersect;

    .slide {
        height: 400px;
        position: relative;
        z-index: 10;
        border: 1px solid #fff;
        background-size: cover;
        background-position: center center;
        opacity: 0.1;
        width: 30%;
        transition: width 1.5s ease, opacity 1s ease;

        &:hover {
            width: 40%;
            opacity: 1;
        }
    }
}
