:root {
    --main-color: #384A7B;
}


body {
    margin: 0;
}


.container {
    background: linear-gradient(to bottom, #FEFCF4 0%, #FEFCF4 60%, #c1d1fd 80%, #384A7B 100%);
    height: 100%;
    margin: 0;
}

.first-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.second-page {
    position: relative;
    height: 100%;
    @media screen and (max-width: 720px) {
        padding-top: 5vh;
    }
}

.third-page {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 20vh;

    @media screen and (max-width: 720px) {
        padding-top: 15vh;
    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.p-relative {
    position: relative;
}

.forth_page {
    height: 100%;
    padding: 18vh 10% 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    > div {
        width: 50%;
    }

    @media screen and (max-width: 720px) {
        margin-top: 30svh;
    }

}

/*FIRST PAGE*/


.text_img {
    width: 41vw;
    margin-left: 10px;
    @media screen and (max-width: 720px) {
        width: 75vw;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 55vw;
    }
}

.first-page_img-wrap {
    display: flex;
}

.main_img {
    width: 44vw;
    max-width: 630px;
    clip-path: inset(0 0 63px 0);
    position: absolute;
    bottom: -63px;
    right: 7vw;
    min-width: 300px;
    animation: wave 1s ease-in-out 2;

    @media screen and (max-width: 720px) {
        right: 0;
        width: 250px;
        min-width: 250px;
        max-width: unset;
        clip-path: unset;
        bottom: -30px;
        transform: rotate(-4deg);
        animation: wavemobile 1s ease-in-out 2;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        right: 0;
        width: 51vw;
        max-width: unset;
        clip-path: unset;
        bottom: -50px;
        transform: rotate(-4deg);
        animation: wavemobile 1s ease-in-out 2;
    }
}

.glasses {
    width: 220px;
    position: absolute;
    top: 62vh;

    @media screen and (max-width: 720px) {
        width: 120px;
        top: 70svh;
    }

    @media screen and (min-width: 721px) and  (max-width: 1024px) {
        width: 31vw;
        top: 58vh;
    }

}

.first-page_text {
    position: absolute;
    top: 9vh;
    left: 16vw;
    color: var(--main-color);

    @media screen and (max-width: 720px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10svh;
        position: static;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 11vh;
        position: static;
    }
}

.invitation-text {
    font-family: 'EB Garamond', serif;
    font-size: clamp(18px, 1.8vw, 3vw);
    text-align: center;
    line-height: 2.4rem;
    width: 39vw;
    max-width: 570px;
    margin: 2rem auto 0;
    letter-spacing: 3px;

    @media screen and (max-width: 720px) {
        margin: 2vh 0 0;
        max-width: unset;
        width: 85vw;
        font-size: 16px;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        margin: 2vh 0 0;
        max-width: unset;
        width: 70vw;
        font-size: 16px;
    }
}

.rings_img {
    width: 43px;
    margin: 0 24px;
    @media screen and (max-width: 720px) {
        width: 7vw;
    }
}

.first-page_divider {
    height: 1px;
    width: 10vw;
    background: var(--main-color);
    @media screen and (max-width: 720px) {
        width: 20vw;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 21vw;
    }
}

.start_img {
    width: 65px;
    position: absolute;
    top: 10vh;
    right: min(130px, 17vw);

    @media screen and (max-width: 720px) {
        width: 45px;
        top: 7vh;
        right: min(130px, 10vw);
    }

}

.cake_img {
    width: 13vw;
    position: absolute;
    right: -4vw;
    top: 56vh;

    @media screen and (max-width: 720px) {
        width: 21vw;
        top: 49vh;
        right: -7vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 18vw;
        top: 39vh;
        right: -7vw;
    }
}

@keyframes wave {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(1deg);
    }
}

@keyframes wavemobile {
    0%, 100% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(-1deg);
    }
}


/*SECOND PAGE*/

.page_divider {
    width: 25px;
    position: absolute;
    left: calc(50vw - 10px);
    top: -25px;
    transform: rotate(180deg);
    animation: jump 1s ease-in-out 3;
    animation-delay: 4s;

    @media screen and (max-width: 720px) {
        width: 15px;
    }
}

@keyframes jump {
    0%, 100% {
        transform: translateY(0) rotate(180deg);
    }
    50% {
        transform: translateY(-60px) rotate(180deg); /* Moves down */
    }
}

.doodles_wrap {
    position: relative;
    width: 80vw;
    margin: 0 auto;
    padding-top: 26vh;
}

.candle_img {
    position: absolute;
    left: 9vw;
    width: 4.5vw;
    top: max(23vw, 300px);

    @media screen and (max-width: 720px) {
        width: 8.5vw;
        left: -2vw;
        top: 34svh;
        transform: rotate(-3deg);
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 7vw;
        left: 5vw;
        top: 31vh;
        transform: rotate(-3deg);
    }

}

.disco_img {
    position: absolute;
    left: 17vw;
    width: 11vw;
    top: -3vw;
    transform: rotate(7deg);

    @media screen and (max-width: 720px) {
        width: 17vw;
        transform: rotate(-7deg);
        left: 6vw;
        top: -3vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        top: -1vw;
        left: 14vw;
        width: 138px;
    }
}

.sparkle_img {
    position: absolute;
    left: 16vw;
    width: 6vw;
    top: 11vh;
    transform: rotate(3deg);

    @media screen and (max-width: 720px) {
        width: 7vw;
        top: 11vw;
        left: 14vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        top: 11vw;
        left: 14vw;
        width: 6.5vw;
    }

}

.map_img {
    position: absolute;
    bottom: -18vw;
    left: 26vw;
    width: 5.5vw;

    @media screen and (max-width: 720px) {
        width: 38px;
        top: 39svh;
        left: 14vw;
        transform: rotate(-3deg);
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        top: 40vh;
        left: 24vw;
        width: 6.5vw;
    }
}

.wedding_cake_img {
    position: absolute;
    left: calc(50% - 7vw);
    width: 16vw;
    max-width: 290px;
    top: 27vh;

    @media screen and (max-width: 720px) {
        width: 30vw;
        left: calc(50% - 15vw);
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 18vw;
    }
}

.lemon_img {
    position: absolute;
    width: 3.5vw;
    left: 58%;
    bottom: -22vw;

    @media screen and (max-width: 720px) {
        width: 7vw;
        top: 45svh;
        left: 64%;
    }


    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 5vw;
        top: 41.5vh;
        left: 63%;
    }
}

.car_img {
    position: absolute;
    left: 50vw;
    width: 11vw;
    top: 32vh;

    @media screen and (max-width: 720px) {
        left: auto;
        width: 17vw;
        top: 27vh;
        right: 8vw;
        transform: rotate(5deg);
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 13vw;
        top: 28vh;
        transform: rotate(2deg);
        left: 54.5vw;
    }
}

.champanie_img {
    position: absolute;
    width: 2.3vw;
    right: 13vw;
    top: 7vh;
    transform: rotate(-4deg);

    @media screen and (max-width: 720px) {
        width: 5vw;
        transform: rotate(15deg);
        right: 6vw;
        top: 10vh;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 4.1vw;
        transform: rotate(5deg);
        right: 5.5vw;
    }
}

.hearts_img {
    position: absolute;
    right: 8.5vw;
    width: 7vw;
    top: 11vh;

    @media screen and (max-width: 720px) {
        width: 12vw;
        top: 3vh;
        right: -4vw;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 9vw;
        top: 3vh;
        right: -1vw;
    }
}

.date_text {
    margin-top: 48vh;
    font-size: 2.5rem;
    font-family: 'EB Garamond', cursive;
    text-align: center;
    color: var(--main-color);

    @media screen and (max-width: 720px) {
        margin-top: 30svh;
        font-size: clamp(25px, 2vw, 3vw)
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        margin-top: 25vh;
    }
}

.place_text {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: 'Amatic SC', cursive;
    color: var(--main-color);
    margin-top: 24px;
    letter-spacing: 1px;

    @media screen and (max-width: 720px) {
        font-size: clamp(32px, 2vw, 3vw)
    }
}

.cocktail_wrap {
    margin-top: 16px;
}

.cocktail_divider_img {
    width: 11vw;
    @media screen and (max-width: 720px) {
        width: 20vw;
    }
}

.cocktail_img {
    width: 8vw;
    margin: 0 1vw;
    @media screen and (max-width: 720px) {
        width: 16vw;
    }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}

.drive_text {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 19vh;
    font-family: 'Amatic SC', cursive;

    @media screen and (max-width: 720px) {
        margin-top: 31vh;
        font-size: 20px;
    }

}

/*THIRD PAGE*/

.brides_wrap, .dress-code_wrap {
    width: 50vw;
}

.dress-code_wrap {
    padding: 0 10vw;
    font-family: 'EB Garamond', serif;
    color: var(--main-color);

    @media screen and (max-width: 720px) {
        padding: 0 2vw 0 6vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        padding: 0 6vw;
    }

}

.brides_img {
    width: 25vw;
    left: 19vw;
    top: 0;
    position: relative;


    @media screen and (max-width: 720px) {
        width: 30vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 32vw;
        left: 15vw;
    }
}

.candles_img {
    position: absolute;
    width: 13vw;
    left: 9vw;
    top: 23vw;
    z-index: 2;

    @media screen and (max-width: 720px) {
        width: 70px;
        left: 7vw;
        top: 15svh;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 20vw;
        left: 4vw;
        top: 20vh;
    }

}

.dress-code-text {
    text-align: left;
    font-size: clamp(22px, 1.5vw, 4vw);
    font-family: 'EB Garamond', serif;
    color: var(--main-color);

    @media screen and (max-width: 720px) {
        font-size: 18px;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        font-size: 28px;
    }

}

.dress-code {
    letter-spacing: 1px;
    font-size: clamp(24px, 1.6vw, 4.2vw);
    margin-top: 1vh;
    display: inline-block;

    @media screen and (max-width: 720px) {
        font-size: 18px;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        font-size: 29px;
    }
}

.dress-code-text_and {
    font-size: clamp(22px, 1.5vw, 4vw);
    font-family: 'Caveat', serif;
    margin-top: 3vh;

    @media screen and (max-width: 720px) {
        font-size: 17px;
    }
    @media screen and (min-width: 721px) and (max-width: 1024px) {
        font-size: 24px;
    }
}

.hills_img {
    width: 3vw;
    margin-right: 1vw;
    color: #e5b6bb;

    @media screen and (max-width: 720px) {
        width: 10vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 6vw;
    }
}

.sunglasses_img {
    width: 3vw;
    margin-right: 1vw;

    @media screen and (max-width: 720px) {
        width: 10vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 6vw;
    }
}

.color_text {
    font-size: 1.8vw;
    font-family: 'EB Garamond', serif;
    color: var(--main-color);
    font-weight: normal;

    @media screen and (max-width: 720px) {
        font-size: 17px;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        font-size: 26px;
    }

}

.mt-3 {
    margin-top: 3vh;
}

.color_img {
    width: 5vw;
    margin-right: 2vw;

    @media screen and (max-width: 720px) {
        width: 11vw;
        margin-right: 3vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 6vw;
    }
}

.color_img:last-of-type {
    margin-right: 0;
}

.colors_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6vh;
    gap: 3vh;

    @media screen and (max-width: 720px) {
        position: absolute;
        bottom: -30svh;
        left: 15vw;
        width: 70vw;
    }
}

.dynamic-circle-svg {
    width: 20vw;
}

.text_circle {
    background: url("assets/circle.svg") no-repeat top left;
    background-size: 5vw;
    width: 20vw;
    color: red;
}


/*FORTH PAGE*/

.photo_wrap {
    display: flex;
    position: relative;

    @media screen and (max-width: 720px) {
        width: 40vw;
    }
}

.volodia_img {
    height: 45vw;

    @media screen and (max-width: 720px) {
        height: 76vw;
        position: relative;
        right: 14vw;
        top: -4vh;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        height: 56vw;
        position: relative;
        right: 50px;
    }
}

.kate_img {
    height: 39vw;
    position: absolute;
    top: 7vw;
    right: 0;

    @media screen and (max-width: 720px) {
        height: 66vw;
        right: -12vw;
        top: 16px;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        height: 51vw;
        left: 50px;
    }
}


.waiting_text {
    font-family: 'EB Garamond', serif;
    font-size: clamp(24px, 2vw, 5vw);
    text-align: center;
    color: var(--main-color);
    font-weight: normal;

    @media screen and (max-width: 720px) {
        font-size: 18px;
        font-weight: bold;
        width: 60vw;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        font-size: 22px;
        font-weight: bold;
    }

}

.waiting_text_emoji {
    font-size: clamp(22px, 1.8vw, 5vw);
    line-height: 1.5rem;
    display: inline-block;
    margin-top: 4px;
    margin-left: 6px;
    @media screen and (max-width: 720px) {
        font-size: 17px;
    }
}

.ps_text {
    margin-top: 6vw;
    text-align: center;
    font-family: 'Caveat', serif;
    font-size: clamp(22px, 1.8vw, 5vw);
    color: var(--main-color);

    @media screen and (max-width: 720px) {
        font-size: 18px;
        position: absolute;
        width: 80vw;
        margin: 10svh auto 0;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        margin-top: 80px;
    }
}


.slider {
    display: flex;
    margin-top: 3vh;
    mask-image: linear-gradient(90deg, #0000, #000 10% 90%, #0000),
    linear-gradient(0deg, transparent, black 2%, black 98%, transparent);
    mask-mode: alpha;
    mask-composite: intersect;

    @media screen and (max-width: 720px) {
        margin-top: 20svh;
    }

    .slide {
        height: 400px;
        position: relative;
        z-index: 10;
        border: 1px solid #fff;
        background-size: cover;
        background-position: center center;
        opacity: 0.1;
        width: 30%;
        transition: width 1.5s ease, opacity 1s ease;
        @media screen and (max-width: 720px) {
            height: 205px;
        }


        &:hover {
            width: 40%;
            opacity: 1;
        }
    }
}
